body{
    background: #CCCCCC;
    font-size: 20px;
}


#banner{
    width: 100%;
}


.principal{
    background: #CCCCCC;
    padding: 30px;
}


h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding-top: 20px;
    margin: 40px;
}


p {
    text-align: center;
}
 

#missao {
    font-size: 24px;
}


em strong{
    color: #FF0000;
}


.beneficios{
    background: #FFFFFF;
    padding: 20px;
}


h2{
    text-align: center;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
    font-style: italic;
}


.imagembeneficios{
    width: 50%;
}

